<div class="jumbotron text-center">
    <h2>Company details</h2>

    <table border=1>
        <tr>
        	<td>Company Name</td>
        	<td>{{company.companyName}}</td>
        </tr>
        <tr>
        	<td>Address</td>
        	<td>{{company.address}}</td>
        </tr>
        <tr>
        	<td>Email</td>
        	<td>{{company.email}}</td>
        </tr>
        <tr>
        	<td>Website</td>
        	<td>{{company.website}}</td>
        </tr>
        <tr>
        	<td>Phone number</td>
        	<td>{{company.phoneNumber}}</td>
        </tr>
        <tr>
        	<td>Head office</td>
        	<td>{{company.headOfficeAddress}}</td>
        </tr>
    </table>
</div>