<div class="jumbotron text-center directory-wrapper directory-wrapper-parent" ng-controller="DirectoryController">
    
    <div class="company-list-view">
        <h2>Company List</h2>
        <table class="table-align-center company-list-table" border=1>
            <tr ng-repeat="company in companies | orderBy:'companyName'">
                <td class="company-item" ng-click="setSelectedCompany(company)"><a>{{company.companyName}}</a></td>
            </tr>
        </table>
    </div>
    <div class=company-details-view>
        <div class="jumbotron text-center directory-wrapper" ng-controller="CompanyDetailController">
            <h2>Company Details</h2>

            <table class="table-align-center" border=1>
                <tr>
                    <td>Company Name</td>
                    <td>{{$parent.selectedCompany.companyName}}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{$parent.selectedCompany.address}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><a href="mailto:{{$parent.selectedCompany.email}}">{{$parent.selectedCompany.email}}</a></td>
                </tr>
                <tr>
                    <td>Website</td>
                    <td><a href="{{$parent.selectedCompany.website}}">{{$parent.selectedCompany.website}}</a></td>
                </tr>
                <tr>
                    <td>Phone number</td>
                    <td>{{$parent.selectedCompany.phoneNumber}}</td>
                </tr>
                <!--<tr>
                    <td>Head office</td>
                    <td>{{$parent.selectedCompany.headOfficeAddress}}</td>
                </tr>-->
            </table>
        </div>
    </div>

</div>