<div class="jumbotron text-center" ng-controller="DirectoryController">
    
    <div class="company-list-view">
        <h2>Company List</h2>
        <table class="table-align-center" border=1>
            <tr ng-repeat="company in companies | orderBy:'companyName'">
                <td ng-click="setSelectedCompany(company)">{{company.companyName}}</td>
            </tr>
        </table>
    </div>
    <div class=company-details-view>
        <div class="jumbotron text-center" ng-controller="CompanyDetailController">
            <h2>Company details</h2>

            <table class="table-align-center" border=1>
                <tr>
                    <td>Company Name</td>
                    <td>{{$parent.selectedCompany.companyName}}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{$parent.selectedCompany.address}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{$parent.selectedCompany.email}}</td>
                </tr>
                <tr>
                    <td>Website</td>
                    <td>{{$parent.selectedCompany.website}}</td>
                </tr>
                <tr>
                    <td>Phone number</td>
                    <td>{{$parent.selectedCompany.phoneNumber}}</td>
                </tr>
                <tr>
                    <td>Head office</td>
                    <td>{{$parent.selectedCompany.headOfficeAddress}}</td>
                </tr>
            </table>
        </div>
    </div>

</div>