<div ng-controller="LandscapeController" class="map-container" map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}">
    <ng-map center="6.921985, 79.926546" zoom="13">
        <info-window id="myInfoWindow">
            <div ng-non-bindable>
                <h4> Company Name : {{selectedCompany.title}}</h4>
                <h4> Address : {{selectedCompany.address}}</h4>
                <h4> Website : <a href="{{selectedCompany.website}}">{{selectedCompany.website}}</a></h4>
                <h4> Email : <a href="mailto:{{selectedCompany.email}}">{{selectedCompany.email}}</a></h4>
            </div>
        </info-window>
        <marker ng-repeat="myMarker in markers" title="{{myMarker.title}}" position="[{{myMarker.latitude}},{{myMarker.longitude}}]"
            on-click="showCompany(event, myMarker)"></marker>
    </ng-map>
</div>