.company-details-view {
    width: 70%;
    display: inline-block;
}

.company-list-view {
    width: 25%;
    display: inline-block;
}

.table-align-center {
    margin-left: auto;
    margin-right: auto;
}

.directory-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}

.company-item {
    cursor: pointer;
    text-decoration: underline;
    background-color: #f4f7ff;;
}